<!DOCTYPE html lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about me</title>
    <link rel="stylesheet" type="text/css" href="/Views/Styles/index.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    <header>
            <p class="hdrsdet">SDET - Software Development Engineer for Testing</p>
            <p class="hdrdevops">Sr. DevOps Principal Consultant</p>
    </header>
    <nav>
            <ul>
                <li><a href="index.html">main</a></li>
                <li><a href="aboutme.html">more about me</a></li>
                <li><a href="subscribeto.html">i subscribe to</a></li>
                    <ul>
                        <li>methodologies</li>
                        <li>patterns</li>
                        <li>technologies</li>
                    </ul>


            </ul>
        </nav>
</body>
</html>