<!DOCTYPE html lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="Styles/index.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    <header>
        <div id="mySdetTitle"> SDET - Software Development Engineer for Testing</div>
            <div class="myInfo">
            <div id="myName">Yelena Gouralnik</div>
            <div id="myEmail">lenags@gmail.com</div>
            <div id="myPhone">480-434-3074</div>
        </div>
    <div id="myDevOpsTitle">Sr. DevOps Principal Consultant</div>
    </header>
    <input id="inputitem" type="text" placeholder="enter item">
    <ul id="testlist">
        
    </ul>
    <button id="enter">Enter</button>
    <div class="timeline">
        <div id="from14ToPresentDate">prseent-2013</div>
        <div class="from14ToPresentTitleTech">
            <div id="from14ToPresentTitle">SDET</div>
            <div class="tools">
                <div id="methodology">agile/scrum</div>
                <div id="mainresp">automation suites</div>
                <div>unit testing framework</div>
                <div>CI pipeline (Continuous Integration)</div>
            </div>
            <div id="languagesToolsTitle">Languages/Tools</div>
            <div class="languageTools">
                <div class="languageTool">.NET Framework, dotnetcore</div>
                <div class="languageTool">JDK</div>
                <div class="languageTool">C#, Java, JavaScript</div>
                <div class="languageTool">MsTest, nUnit, xUnit, TestNG</div>
                <div class="languageTool">Selenium Webdriver, Protractor, Appium</div>
                <div class="languageTool">Jasmine, Karma, Chai</div>
            </div>
           
            <li>unit test framework</li>
            <li>CI pipeline</li>
           </div>
        <div id="from11To13">2013 - 2011</div>
        <div id="from09To11">2011 - 2009</div>
        <div id="from07to09">2009 - 2007</div>
        <div id="from99To07">2007 - 1999</div>

    </div>
    <nav>
            <ul>
                <li><a href="aboutme.html">more about me</a></li>
                <li><a href="subscribeto.html">i subscribe to</a></li>
                    <ul>
                        <li>methodologies</li>
                        <li>patterns</li>
                        <li>technologies</li>
                    </ul>


            </ul>
    </nav>
    <div class="boxmodel">A
    </div>
    <div class="boxmodel">B
    </div>
    <div class="boxmodeldisplay">A
    </div>
    <div class="boxmodeldisplay">B
    </div>
    <div class="boxmodelnew">A
        </div>
        <div class="boxmodelnew">B
        </div>
        <script src="../domselect.js">
        
        </script>
</body>
</html>