<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=<1.0>">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
   <link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
  <main class="🐛">
    <h1>It’s a <span>feature</span>, not a 🐛</h1>
    <p class="intro">This demo is Media Query-free!</p>
  
    <ul class="gallery">
      <li>
        <h2 class="🐜-title">Dragonfly</h2>
      </li>
      <li>
        <h2 class="🐜-title">Bug</h2>
      </li>
      <li>
        <h2 class="🐜-title">Beetle</h2>
      </li>
      <li>
        <h2 class="🐜-title">Bee</h2>
      </li>
      <li>
        <h2 class="🐜-title">Grasshopper</h2>
      </li>
      <li>
        <h2 class="🐜-title">Monarch</h2>
      </li>
      <li>
        <h2 class="🐜-title">Fly</h2>
      </li>
      <li>
        <h2 class="🐜-title">Ladybug</h2>
      </li>
      <li class="featured">
        <h2 class="🐜-title">Dragon fly</h2>
      </li>
      <li>
        <h2 class="🐜-title">Fake Ladybug</h2>
      </li>
      <li>
        <h2 class="🐜-title">Amazing-Looking Bug</h2>
      </li>
      <li class="mantis">
        <h2 class="🐜-title">Praying Mantis</h2>
      </li>
      <li>
        <h2 class="🐜-title">Bee</h2>
      </li>
      <li>
        <h2 class="🐜-title">Grasshopper</h2>
      </li>
      <li>
        <h2 class="🐜-title">Butterfly or Moth</h2>
      </li>
      <li>
        <h2 class="🐜-title">Beetle</h2>
      </li>
      <li>
        <h2 class="🐜-title">Catepillar</h2>
      </li>
      <li>
        <h2 class="🐜-title">Ladybug</h2>
      </li>
    </ul>
  </main><h1>Heading One</h1>
  <div class="container">
      <div class="zone green">1</div>
      <div class="zone green">🦊</div>
  </div>
</body>
</html>